.vscode/
workspace
.idea/
# build output
/hive

# build output for rust simulators and hivesim-rs files
simulators/**/target
hivesim-rs/Cargo.lock
hivesim-rs/target

# Logs
*.log
EIP_7702_geth_trace
.gitignore
EIP_7702_reth_trace
